body {
    background-color: #F6A2A2;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    flex-direction: column;
}

#field {
    margin: auto auto;
    background-color: red;
    width: 300px;
    height: 300px;
    padding: 10px;
}